body {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('images/jungles.jpg') no-repeat center;
    background-size: cover;

}

#canvas {
    width: 500px; 
    height: 500px;
    border: 2px solid #073603;
}